@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #152028;
	--color-secondary: #202945;
	--color-tertiary: #19272a;
	--color-background: #ffffff;
	--color-surface-100: #fafafa;
	--color-surface-200: rgb(225, 225, 225);
	--color-surface-300: #dadada;
	--color-surface-400: #cccccc;
	--color-text: #333333;
	--color-highlight: #ff4400;
	--color-disabled: #e0e0e0;
	--color-error: #ff4400;
	--color-success: #4caf50;
	--color-btnFade: rgba(200, 200, 200, 0.5);
	--color-btn: rgba(200, 200, 200, 1);
	--shadow-custom: 0 25px 25px rgba(0, 0, 0, 0.3);
	--message-fade: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
}

.dark {
	--color-primary: rgb(40, 53, 147);
	--color-secondary: #152028;
	--color-tertiary: #202945;
	--color-background: #19272a;
	--color-surface-100: #222a30;
	--color-surface-200: rgb(34, 43, 49);
	--color-surface-300: #1d2429;
	--color-surface-400: #344049;
	--color-text: #ffffff;
	--color-highlight: rgb(245, 245, 245);
	--color-disabled: #e0e0e0;
	--color-error: #ff4400;
	--color-success: #4caf50;
	--color-btnFade: rgba(54, 69, 78, 0.5);
	--color-btn: rgb(54, 69, 78);
	--shadow-custom: 0 25px 25px rgba(0, 0, 0, 0.2);
	--message-fade: linear-gradient(var(--color-btnFade), rgba(0, 212, 255, 0.3));
}

body,
html {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
