.guildBtn {
	border-right: 1px solid var(--color-btn);
	background-image: linear-gradient(to left, rgba(0, 213, 255, 0) 0%, rgba(0, 0, 0, 0) 0%);
	position: relative;
	font-size: 1rem;
}

.guildBtn::before,
.guildBtn::after {
	content: "";
	position: absolute;
	right: 0%;
	height: 1px;
	background: linear-gradient(to left, rgba(0, 213, 255, 0), rgba(2, 0, 36, 0));
}

.guildBtn:hover {
	border-right: 2px solid var(--color-btn);
	background-image: linear-gradient(to left, var(--color-btnFade) 0%, rgba(0, 0, 0, 0) 8%);
	position: relative;
}

.guildBtn:hover::before,
.guildBtn:hover::after {
	content: "";
	position: absolute;
	right: 0%;
	height: 2px;
	background: linear-gradient(to left, var(--color-btnFade), rgba(0, 0, 0, 0));
}

.guildBtn:hover::before {
	width: 15%;
	top: 0;
}

.guildBtn:hover::after {
	width: 10%;
	bottom: 0;
}

.guildBtn.selected {
	border-right: 2px solid var(--color-btn);
	background-image: linear-gradient(to left, var(--color-btnFade) 0%, rgba(0, 0, 0, 0) 60%);
	font-size: 1.1rem;
}

.guildBtn.selected::before,
.guildBtn.selected::after {
	content: "";
	position: absolute;
	right: 0%;
	height: 2px;
	background: linear-gradient(to left, var(--color-btn), rgba(0, 0, 0, 0));
	transition: all 0.3s ease-in-out;
}

.guildBtn.selected::before {
	width: 95%;
	top: 0;
}

.guildBtn.selected::after {
	width: 100%;
	bottom: 0;
}

.notificationIndicator {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: orange;
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
}
