.msg-sender {
	position: relative;
	padding-right: 2%;
}

.msg-sender::after {
	content: "";
	height: 100%;
	width: 1px;
	position: absolute;
	background-image: var(--message-fade);
	top: 0;
	right: 0;
}
