.guild-selector {
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.is-scrollable {
	box-shadow:
		inset 0 10px 10px -5px rgba(0, 0, 0, 0.5),
		inset 0 -10px 10px -5px rgba(0, 0, 0, 0.5);
}
